/*
 * @Author: “Liwwwwwwx” hbsd_lwx@163.com
 * @Date: 2023-09-21 14:51:14
 * @LastEditors: Liwwwwwwx 1076843408@qq.com
 * @LastEditTime: 2023-10-12 23:03:11
 * @FilePath: \vue-project\src\assets\element.scss
 * @Description: element组件样式
 */

/* el-table */
// 整体背景
.el-table,
.el-table tr {
  background-color: transparent !important;
}

.table_header_cell,
.table_cell {
  background-color: var(--table-bg-color) !important;
  color: var(--text-color);
  border-bottom: none !important;
  font-size: 30px;
}

.table_header_cell {
  .cell {
    background-color: var(--bg-normal-color);
    background-clip: content-box;
    width: 80%;
    height: 80px;
    line-height: 80px !important;
    margin: 0 auto;
    font-size: 40px;
  }
}

.table_cell {
  .cell {
    height: 60px;
    line-height: 60px !important;
  }
}
